<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Saturne</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<main>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Saturne Administration</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Utilisateurs</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Video</a>
                    </li>
                    <li class="nav-item active">
                        <a href="accueil" class="nav-link">Quitter</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <h2 align="center">Liste des utilisateurs</h2>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Level</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody th:each="user : ${lesUsers}">
            <tr>
                <th scope="row">1</th>
                <td th:text="${user.email}"></td>`
                <td th:text="${user.level}"></td>
                <td>
                    <form method="post" action="modifLevel">
                        <input type="submit" class="btn btn-success" value="modifier">
                        <input type="text" name="email" th:value="${user.email}" hidden="true">
                    </form>
                </td>
                <td>
                    <form method="post" action="deleteUser">
                        <input type="submit" class="btn btn-danger" value="supprimer">
                        <input type="text" name="email" th:value="${user.email}" hidden="true">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2 align="center">Liste des videos</h2>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom video</th>
                <th scope="col">Date de mise en ligne</th>
                <th scope="col">identifiant</th>
                <th scope="col">visible</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody th:each="video : ${lesVideos}">
            <tr>
                <th scope="row">1</th>
                <td th:text="${video.nom}">
                </td>
                <td th:text="${video.dateVideo}"></td>
                <td th:text="${video.url}"></td>
                <td>
                    <input type="submit" class="btn btn-success" value="modifier">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <h2 align="center">Ajout d'une video</h2>
        <form align="center" method="post" action="ajoutVideo">
            <input class="form-control" name="txtNom" type="text" placeholder="entrez le nom de la video" required>
            <input class="form-control" name="dateVideo" type="date"  required>
            <input class="form-control" name="txtId" type="text" placeholder="entrez l'identifiant de la video v=?" required>
            <select class="form-control">
                <option>visible</option>
                <option>non visible</option>
            </select>
            <input class="btn btn-primary" type="submit" value="ajouter la video">
        </form>
    </div>
</main>
</body>
</html>